# IntelliJ IDEA
.idea/
*.iml
out/

# Maven
target/

# Gradle
build/
.gradle/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# React / Node
ui/**/node_modules/
ui/**/build/
ui/**/dist/
ui/**/.vite/

back/.env

